body, html {
  height: 107%;
}
html {
  scroll-behavior: smooth;
}
.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6%
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20.5px;
}

.w3-bar-item{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	white-space:normal;

}


body{margin:0}

.topnav a.active {
  background-color: black;
  color: white;
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23.5px;
  	font-family:sans-serif;

}

.topnav a.active:hover {
  background-color: white;
  color: black;
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23.5px;
}

.topnav a.active1 {
  background-color: black;
  color: white;
  float: right;
  font-family:sans-serif;
}

.topnav a.active1:hover {
  background-color: white;
  color: black;
}


.parallax {

  background-image: url('./img/back.jpg');
  height: 100%; 
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.content{
	background: rgba(0, 1, 0, 0.4);
	width: 75%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 13%;
	padding-bottom: 13%; 
	margin: 50px auto;
	font-family: 'Bookman', monospace;
	border-radius: 20px;
}

.content2{
	background: rgba(0, 1, 0, 0.4);
	width: 75%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%; 
	margin: 5px auto;
	font-family: 'Bookman', monospace;
	border-radius: 20px;
}

p{
	font-size: 25px;
	color: white;
	font-weight: 500;
	text-align: center;

}

.style {
	background: rgba(0, 1, 0, 0.3);
	width: 75%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%; 
	margin: 50px auto;
	font-family: 'Bookman', monospace;
	border-radius: 20px;
}

.imgbg{
	background: url('./img/self1.jpg');
	width: 20%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 14.5%;
	padding-bottom: 14%; 
	margin: 50px auto;
	font-family: 'Bookman', monospace;
	border-radius: 25px;
	margin-left:4%;
/*	clear: left;*/
	display: inline-block;
	background-repeat: no-repeat;
	

}

.right{
	
	text-align: center;
    display: block;
    width:1000px;

}
.style1 {
	background: rgba(0, 1, 0, 0.2);
	width: 58%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 12%;
	padding-bottom: 12.2%; 
	margin: 50px auto;
	font-family: 'Bookman', monospace;
	border-radius: 20px;
	float: left;
	margin-left:3%;
	clear: right;
}

.style2 {
	background: rgba(0, 1, 0, 0);
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%; 
	margin: 1px auto;
	font-family: 'Bookman', monospace;
	border-radius: 5px;
	opacity: 0;
	
}

.style3 {
	background: rgba(0, 1, 0, 0.3);
	width: 55%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%; 
	margin: 50px auto;
	font-family: 'Bookman', monospace;
	border-radius: 20px;
}

.logo { 
  width: 40px;
  height: 40px;

  padding-left: 41.7%;
}

.logo img {
  display:inline-block;
} 

.logo2 { 
  width: 40px;
  height: 40px;

  padding-left: 5%;
}

.logo2 img {
  display:inline-block;
} 

.logo3 { 
  width: 40px;
  height: 40px;

  padding-left: 5%;
}

.logo3 img {
  display:inline-block;
} 


.emptytext {
	font-family: 'Bookman', monospace;
	opacity: 0;
}
.smolfont {
	font-size: 15px;
}

